/* universal rules */

:root {
    --bg-color: #f7f9f8;
    --bg-gradient: radial-gradient(circle at center, #f7f9f8 0%, #d4efe3 100%);
    --panel-bg: rgba(255, 255, 255, 0.6);

    /* ---------------------------------------- */

    --text-color: #2a2a2a;
    --secondary-text: #313131;

    /* ---------------------------------------- */

    --accent-color: #12a96d;
    --border-color: #d0f3e4;
    --button-color: #00ff99;
    --button-color-hover: #00a473;
    --hover-color: #257d1d;

    /* ---------------------------------------- */

    --font-family-base: 'Poppins', sans-serif;
    --font-size: 1rem;
    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;

    /* ---------------------------------------- */

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-rel-sm: 0.5em;
    --space-rel-md: 1em;
    --space-rel-sl: 1.2em;
    --space-rel-lg: 1.5em;
    --space-rel-vlg: 2em;
    --header-height: 60px;
    
    /* ---------------------------------------- */

    --cell-size: 16px;
    --cel-gap: 4px;

    /* ---------------------------------------- */

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /* ---------------------------------------- */

    --shadow-md: 0 2px 6px rgba(0, 0, 0, 0.3);
    --transition-fast: 0.2s ease;
    --transition-md: 0.3s ease;
    --transition-base: 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background var(--transition-md), color var(--transition-md);
}

@font-face {
    font-family: 'AcademiaSSK';
    src: url('/root/frontend/assets/fonts/academiassk_bold-webfont.woff'),
        url('/root/frontend/assets/fonts/academiassk_bold-webfont.woff2');
    src: url('/root/frontend/assets/fonts/academiassk_regular-webfont.woff'),
        url('/root/frontend/assets/fonts/academiassk_regular-webfont.woff2');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-gradient);
    color: var(--text-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.gradientShift {
    background: var(--bg-gradient);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1,
h2,
h3,
h4 {
    color: var(--text-color);
}

li {
    list-style: none;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: transform var(--transition-md) text-shadow var(--transition-md);
}

a:hover {
    color: var(--hover-color);
    transform: scale(1.2) perspective(400px) rotateX(5deg);
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}


