/* Structure of the site */

.header{
    background: var(--panel-bg);
    backdrop-filter: blur(10px);
    border-bottom: 0.1rem solid var(--border-color);
    padding: 1rem 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.434);
    gap: 1em;
}

.nav-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    padding: var(--space-rel-sl);
    margin: 0;
    gap: var(--space-rel-vlg);
    align-items: center;
}

.cta-container {
    display: flex;
    align-items: center;
}

.cta-button {
    position: relative;
}

.mainOne {
    display: flex;
    grid-row: 1 / span 2;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg);
}

.lang-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-lg);
    grid-row: 2;
}